.hero-image {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__340.jpg);
    background-repeat: repeat-x;
}
.edges {
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 2px, 2px, 2px, #333;
}
.flag {
    text-align: center;
}
.position {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.immense {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
}